<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Passolig.Properties.Settings.passoligDBConnectionString"
            connectionString="Data Source=DESKTOP-F3EJRQJ\SQLEXPRESS;Initial Catalog=passoligDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Passolig.Properties.Settings._192503028ConnectionString"
            connectionString="Data Source=DESKTOP-F24FN4Q\SQLEXPRESS;Initial Catalog=192503028;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>